.customTableStyle{
    background-color: grey;
    padding-top: .5em;
    padding-bottom: .5em;
}


table {
    border-collapse: collapse;
}

td {

}

.container{
    background-color: black;
    color:white;
    border:1px solid gray;
}
.customInput{
    background-color: black !important;
    color:white !important;
    border: 2px;
    border-color: white;
    border-bottom: solid; 
}
.customHeading{
    background-color: black !important;
    color:white !important;
    border: 2px;
    margin-bottom: 40px;
    text-align: center;
}
.customBtn{
    background-color: gray;
    color:white;
    border-color: transparent;
    border-radius: 10%;
    margin-left: 40%;
}
.customBtn:hover{
    background-color: black;
    border-color: grey;
}